<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Casino PEAKY BLINDERS</title>
    <link rel="stylesheet" href="/css/stiloHome.css">
    <link rel="icon" type="image/png" href="/imagenes/logo.jpg">
    
</head>
<body>

    <!-- HEADER -->
    <div class="header">
        <img src="/imagenes/logo.jpg" alt="Logo Casino Shelby">
        
    </div>

    <!-- TEXTO CENTRAL -->
    <h1 class="eslogan">BIENVENIDO AL CASINO PEAKY BLINDERS</h1>

    <!-- BOTONES -->
    <div class="botones">
        <a href="/usuarios/registro">REGISTRARSE</a>
        <a href="/usuarios/login">INICIAR SESION</a>
    </div>

    <!-- FOOTER -->
<div class="footer">
    © 2025 Casino Shelby - Todos los derechos reservados |
    <a href="#"><img src="/imagenes/facebook.png" alt="Facebook" class="social-icon"></a>
    <a href="#"><img src="/imagenes/bluesky.png" alt="Twitter" class="social-icon"></a>
    <a href="#"><img src="/imagenes/instagram.png" alt="Instagram" class="social-icon"></a>
    <a href="#">Politica de privacidad</a>
</div>

</body>
</html>
