<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Casino Shelby - Usuario Normal</title>
    <link rel="stylesheet" href="/css/casino.css">
    <script src="/js/casino.js" defer></script>
</head>
<body>
    <h1>Bienvenido al Casino Shelby</h1>
    <h2>Juega con dinero ficticio</h2>

    <div class="game-container">
        <div class="game">
            <img id="game1" src="/imagenes/tragaperras.webp" onmouseover="changeGameImage(games[0])" class="game-image">
            <a href="/tragaperras" class="game-button">Tragaperras</a>
        </div>
        <div class="game">
            <img id="game2" src="/imagenes/carreraCaballo.webp" onmouseover="changeGameImage(games[1])" class="game-image">
            <a href="/dino" class="game-button">Carrera de caballos</a>
        </div>
        
    </div>

</body>
</html>
