<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Casino Shelby - Usuario Premium</title>
    <link rel="stylesheet" href="/css/casino.css">
    <script src="/js/casino.js" defer></script>
</head>
<body>
    <h1>Bienvenido al Casino Shelby - VIP</h1>
    <h2>Juega con dinero real</h2>

    <div class="game-container">
        <div class="game">
            <img id="game1" src="/imagenes/tragaperras.webp" alt="Juego 1">
            <p id="info1">Tragaperras</p>
        </div>
        <div class="game">
            <img id="game2" src="/imagenes/carreraCaballo.webp" alt="Juego 2">
            <p id="info2">Carrera de caballos</p>
        </div>
        <div class="game">
            <img id="game3" src="/imagenes/ruleta.webp" alt="Juego 3">
            <p id="info3">Ruleta Premium</p>
        </div>
    </div>
</body>
</html>
