@charset "ISO-8859-1";
body {
    text-align: center;
    font-family: 'PeakyBlindersFont', sans-serif;
    background-image: url('/imagenes/casino-fondo.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    font-size: 50px;
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.game {
    width: 300px;
    text-align: center;
}

.game img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s;
}

.game img:hover {
    transform: rotateY(360deg);
}

p {
    font-size: 18px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
